@media only screen and (min-width:640px) and (max-width: 785px) {
body{
	margin:0px;
	background-color:--- black;
}

img{
	width: 100%;
	height:100%;
	}

#banner{
	position: fixed;
	width:100%;
	height:40px;
	background: #253F66;
	}

nav{
	position:relative;
	left:-23px;
	margin-top:-14px;
	text-align:left;
	width:728px;
	height:40px;
	background:--- red;
	}

li{
	display:inline;
	font-size:34px;
	padding:3px;
	color:#f1f6ec;
	font-family: 'Philosopher', sans-serif;
	}

a{
	text-decoration:none;
	color:#f1f6ec;
	}
#midcontent a{
	color: blue;
	text-decoration: underline;
}

li:hover{
	text-shadow:0px 0px 0px #3c5523;
	}

.H:active{
	text-shadow: 0px 0px 20px #3c5523;
	}
	
#mainpic{
	position:relative;
	margin:auto;
	width:100%;
	}

#midcontent{
	position:relative;
	margin-left: 10px;
	width:730px;
	height:200px;
	border-radius:5px;
	background:--- red;
	}

#title{
	position:relative;
    margin-left: 5px;
	text-align:left;
	width:370px;
	color:#000;
	font-size:25.5px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #253F66;
	}
	#title2{
	position:relative;
	margin:auto;
	display: none;
	text-align:center;
	width:370px;
	color:#000;
	font-size:28px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #253F66;
	}
#title3{
	position:relative;
	margin-left: 380px;
	margin-top: -44px;
	display: block;
	text-align:center;
	width:370px;
	color:#000;
	font-size:18px;
	font-family: 'Abril Fatface', cursive;
	-webkit-text-stroke: .3px #253F66;
	}


#bcontent{
	position:relative;
	width:370px;
	height:700px;
	margin-left: 6px;
	margin-top: -400px;
	
	}	
	
#tbox{
	position:absolute;
	width:370px;
	height:410px;
	top: 270px;
	}
	
#info{
	position:absolute;
	top:150px;
	width:370px;
	height:250px;
	color:#000;
	font-size:20px;
	padding-top:50px;
	text-align:left;
	font-family: 'Philosopher', sans-serif;
	}
	
#map{
	position:absolute;
	top:25px;
	display:none;
	}
	
#mobilemap{
	position:absolute;
	top:-50px;
	display:none;
	left:5px;
}

#bbox{
	position:absolute;
	width:370px;
	top:65%;
	left:380px;
	height:300px;
	}
	
.description{
	position:absolute;
	left:0;
	color:#253F66;
	font-family: 'Philosopher', sans-serif;
	font-size:20px;
	width:370px;
	height:300px;
	text-align:center;
	}
	
#fragile{
	position:absolute;
	top:150px;
	right:110px;
	width:150px;
	height:auto;
	border-radius:100%;
	border: 1px solid black;
	}
	
	
	
#footer{
	position:relative;
	top:110px;
	width:100%;
	background:#253F66;
	}

#foot{
    color: #f1f6ec;
    text-align: center;
    position: relative;
    bottom: -15px;
    left: 0px;
    /* right: 120px; */
    font-family: 'Philosopher', sans-serif;
}

#cardContainer{
	top: 110px;	
	height: 70px;
}
	
#cardContainer p {
    font-size:20px;
	font-family: 'Philosopher', sans-serif;
}

/*FWD LANDY */

/* FWD SERVICES HYPE */

#midWrapper {
	margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: ---red;
    height: 200px;
    width: 600px;
    left: -60px;
}



.button{
	position:absolute;
	width:113px;
	height:113px;
	border-radius:100%;
	background:#7EA7E5;
	cursor:pointer;
}	

.button:hover{	
	box-shadow: 0px 0px 20px #000;
  }
  
  #but1{
	left:5px;
	z-index: 1;
	top:33px;
	}	
	
#RD{
	position:relative;
	top:15px;
	font-size:23px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;
	}	

.rd{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:75px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;
}

#but2{
	left:165px;
	top: 33px;
	z-index: 1;
	
	
	}
	
#SDS{
	position:relative;
	top:25px;
	font-size:23px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;

	}	

.sds{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:75px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;	
	}	
	
#but3{
	left:320px;
	top: 33px;
	
	}
	
#SRS{
	position:relative;
	top:15px;
	font-size:23px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;

	}	

.srs{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:75px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;	
	}	
	
#but4{
	left:475px;
	top:33px;
	z-index: 1;
	
	
	}
	
#ES{
	position:relative;
	top:20px;
	font-size:25px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;

	}	

.es{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:65px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;	
	}	
	
#but5{
	left:635px;
	top:33px;
	
	}	

#G{
	position:relative;
	top:5px;
	font-size:25px;
	text-align:center;
	font-family: 'Philosopher', sans-serif;
	color:#fff;

	}	

.g{
	position:absolute;
	display:none;
	color:#fff;
	text-align:center;
	top:65px;
	font-size:25px;
	font-family: 'Philosopher', sans-serif;	
	}
	
	#box1{
	display:none;
    position:fixed;
    top:50%;
	left:50%;
	width:450px;
	height:450px;
	z-index:9999;
	background:#253F66;
	border-radius:50%;
	border:10px black double;
    margin-top: -225px;
    margin-left: -225px;
	cursor:pointer;
}

#img-cover {
    position: fixed;
	background:black;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:.9;
	z-index:9999;
	cursor:pointer;
}